.library {
  &__session {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10em auto;

    // remove left margin of navbar__session__login
    .navbar__session__login {
      margin: 2em 0;
    }
  }

  &__sessionItem {
    &--title {
      font-size: 1.5em;
      font-weight: 900;
      line-height: 3em;
    }

    &--subtitle {
      font-size: 0.875em;
    }
  }

  &__title {
    grid-row: 1;
    grid-column: 1;
    margin-top: 2em;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    align-items: center;
  }

  &__subtitle {
    font-weight: 400;
    color: var(--clr-text-light-gray);
    margin-left: 0.5em;
  }

  &__split {
    &--videos {
      grid-row: 2;
      grid-column: 1;

      // library videos layout
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
      gap: 1em;
      padding-top: 2em;

      // hide video user icon
      .main__user {
        display: none;
      }
    }

    &--user {
      grid-row: 1 / span 2;
      grid-column: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 85%;
      max-width: 179px;
      margin-top: 6em;
      margin-left: auto;
    }
  }

  &__user {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: max-content;
    width: max-content;
    background-color: var(--clr-placeholder);
  }

  &__username {
    font-size: 1rem;
    letter-spacing: 0.2px;
    margin-top: 1em;
  }

  &__useritems {
    margin-top: 2em;
    width: 100%;
  }

  &__useritem {
    font-size: 0.75rem;
    letter-spacing: 0.2px;
    color: var(--clr-text-gray);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--clr-hightlight-gray);
    padding-block: 1em;

    &--likes {
      border-bottom: 1px solid var(--clr-hightlight-gray);
    }
  }
}

#library-session-logo {
  font-size: 7em;
}

#library-likeicon {
  margin-right: 0.5em;
}

@media only screen and (max-width: 650px) {
  .library__split {
    // move user above liked videos
    &--user {
      grid-row: 1 / span 1;
      grid-column: 1;

      margin-top: 2em;
      margin-inline: auto;
    }

    &--videos {
      grid-row: 3;
    }
  }

  .library {
    &__title {
      grid-row: 2;
    }
  }
}
