.likes {
  display: flex;
  flex-direction: column;
  width: 7em;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25em;
    color: var(--clr-text-gray);
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5em;
  }
}

#thumbup-icon,
#thumbdown-icon {
  font-size: 1.5rem;
}

.thumb__num {
  margin-left: 0.6em;
  font-size: 0.875rem;
  font-weight: 900;
}

//
// LIKES RATIO BAR
//
.likes__bar {
  height: 0.139em;
  background: #c8c8c8;
  display: flex;
  flex-direction: row;

  &--filled {
    background: black;
    flex-basis: 50%;
    transition: 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
}
