.likes {
  display: flex;
  flex-direction: row;
  width: 7em;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25em;
    color: var(--clr-text-gray);

    &:hover {
      cursor: pointer;
    }
  }
}

#thumbup-icon,
#thumbdown-icon {
  font-size: 1.4rem;
}

.thumb__num {
  margin-left: 0.6em;
  font-size: 0.875rem;
  font-weight: 900;
}
