.main {
  --content-width: 2256px;
  --like-content-width: 1384px;
  --subs-content-width: 1284px;
}

.main {
  position: relative;
  top: 56px;

  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;

  &--sidebarExpanded {
    grid-template-columns: var(--sidebar-expanded-width) 1fr;

    .main__borderTop {
      left: var(--sidebar-expanded-width);
    }
  }

  &__borderTop {
    position: fixed;
    left: var(--sidebar-width);

    width: 100%;
    height: 1px;
    background: #d3d3d3;
  }

  .results,
  &__index,
  &__library,
  .library__session,
  &__subs,
  .subs__session,
  &__ryan {
    grid-column: 2;
  }

  // video index for main
  &__index {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
    gap: 1em;

    padding-top: 2em;
    padding-inline: max(2em, 50vw - var(--content-width) / 2);
  }

  &__card {
    text-decoration: none;
    color: black;
  }

  &__vid {
    width: 100%;
    object-fit: contain;
    
    background: var(--clr-hightlight-gray);
    border-radius: 1px;
    aspect-ratio: 16 / 9;
  }

  &__desc {
    display: flex;
    margin-top: 0.125em;

    &--meta {
      display: block;
      flex-direction: column;
      word-spacing: 0.5px;
    }
  }

  &__user {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: min-content;
    width: max-content;
    margin-top: 0.25em;
    margin-right: 0.75em;
    background-color: var(--clr-placeholder);
  }

  &__title {
    font-size: 0.875rem;
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 0.125em;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__username,
  &__viewsdate {
    font-size: 0.875rem;
    line-height: 1.3;
    color: var(--clr-text-gray);
  }

  &__username:hover {
    color: var(--cl-secondary);
  }

  &__dot {
    font-size: 0.5rem;
  }

  // LIBRARY LAYOUT
  &__library {
    display: grid;
    grid-template-columns: 1fr 210px;
    padding-inline: max(2em, 50vw - var(--like-content-width) / 2);
  }

  // SUBSCRIPTIONS LAYOUT
  &__subs {
    padding-inline: max(2em, 50vw - var(--subs-content-width) / 2);
  }
}

@media only screen and (max-width: 650px) {
  .main {
    grid-template-columns: 1fr;

    &__library {
      grid-template-columns: 1fr;
    }

    &__borderTop {
      left: 0;
    }

    .results,
    &__index,
    &__library,
    .library__session,
    &__subscriptions,
    .subs__session,
    &__ryan {
      grid-column: 1;
    }
  }
}
