.noti {
  display: flex;
  flex-direction: column;
  width: 300px;

  &__item {
    width: inherit;
    margin-top: 1em;
    border-radius: 3px;
    padding-block: 1em;
    text-align: center;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);

    transition: 0.2s;
    animation: fadeIn 0.75s;

    &--success {
      background-color: var(--clr-primary);
    }

    &--fail {
      background-color: var(--clr-error);
    }
  }

  &__message {
    font-size: 0.875rem;
    font-weight: 600;
    color: white;
  }
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 20px;
    opacity: 1;
  }
}
