.vshow {
  position: relative;
  top: 57.8px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 402px;
  grid-template-rows: max-content;
  padding-top: 1.5em;
  width: min(95vw, 1754px);
  margin-inline: auto;

  &__split {
    &--meta {
      grid-row: 1;
      grid-column: 1 / 2;
      border-bottom: 1px solid var(--clr-separator-gray);
      padding-bottom: 1em;

      // contain video description text overflow
      display: flex;
      flex-direction: column;
    }

    &--comments {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
    }

    &--sideidx {
      grid-column: 2;
      grid-row: 1 / span 2;
      margin-left: 1.5em;
    }
  }

  &__numComments {
    padding-block: 1.5em;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 999px) {
  .vshow {
    grid-template-columns: 100%;
    grid-auto-flow: row;

    &__split {
      &--meta {
        grid-row: 1;
        grid-column: 1;
      }

      &--comments {
        grid-row: 3;
        grid-column: 1;
      }

      &--sideidx {
        grid-row: 2;
        grid-column: 1;
      }
    }
  }
}

//
// VIDEO DETAILS
//
.vdetails {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 3em;
  }

  &--split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--clr-separator-gray);
  }

  &__viewsdate {
    font-size: 0.875rem;
    letter-spacing: 0.03125em;
    color: var(--clr-text-gray);
  }

  &__dot {
    font-size: 0.5rem;
    margin-inline: 0.5em;
  }

  &__interface {
    display: flex;
    flex-direction: row;
    align-items: center;

    .likes__buttons {
      padding-bottom: 0.5em;
    }
  }

  &__item {
    padding-inline: 1em;
    font-size: 0.9rem;
    font-weight: 900;
  }
}

//
// VIDEO DESCRIPTION
//
.vdesc {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  height: 7em;
  flex-basis: 100%;

  &__split {
    &--right {
      width: 100%;
    }
  }

  &__usericon {
    margin-right: 1em;
    position: relative;
    top: -8px;
  }

  &__user {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: min-content;
    width: max-content;
    background-color: var(--clr-placeholder);
  }

  &__top {
    &--split {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__username {
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.5em;
  }

  &__subcount {
    font-size: 0.815rem;
    color: var(--clr-text-light-gray);
  }

  .subscribe {
    margin-right: 1.25em;
  }

  &__expandable {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0.5px;
    white-space: pre-wrap;
    word-break: break-word;
    max-width: 77ch;
    margin-top: 1.25em;
  }

  &__hide {
    &--hidden {
      display: none;
    }
  }

  &__showmore {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--clr-text-gray);
    display: inline-block;
    padding: 0.2em;
    margin-top: 0.75em;

    &--hidden {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
