.main__sidebar {
  background: #fff;
  position: fixed;
  height: 100%;
  grid-column: 1;
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;

  // when expended and modal rendered
  &--expanded,
  &--modal {
    min-width: var(--sidebar-expanded-width);

    .sidebar__item {
      flex-direction: row;
      align-items: center;
      padding-left: 2.7em;
      padding-block: 1.2em;
      font-weight: 400;
      &:hover {
        background-color: #d5d4d4;
      }

      &--active {
        background-color: var(--clr-hightlight-gray);
        font-weight: 900;
      }
    }

    .sidebar__title {
      margin: 0;
      margin-left: 0.75em;
      font-size: 0.875rem;
    }
  }
}

.sidebar {
  &__item {
    font-size: 0.625rem;
    font-weight: 200;
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: black;
    &:hover {
      background-color: var(--clr-hightlight-gray);
    }
  }

  &__modalNav {
    display: flex;
    padding: 0.75em 1em;
    align-items: center;
  }

  &__title {
    margin-top: 0.7em;
  }
}

#home-icon,
#home-outline-icon,
#subscriptions-icon,
#subscriptions-outline-icon,
#library-icon,
#library-outline-icon,
#ryan-icon,
#ryan-outline-icon {
  font-size: 1.5rem;
}

// modal sidebar animation
// styled in react
@keyframes sidebarAnimation {
  0% {
    transform: translateX(-100px);
    transform-origin: left 0%;
  }
  100% {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 650px) {
  .main__sidebar {
    display: none; // display none to flex in modal.scss when modal rendered
  }
}
