.main__sidebar {
  // when expended
  &--expanded {
    .sidebar {
      &__item {
        flex-direction: row;
        align-items: center;
        padding-left: 2.7em;
        padding-block: 1.2em;
        &:hover {
          background-color: #d5d4d4;
        }

        &--active {
          background-color: var(--clr-hightlight-gray);
        }
      }

      &__title {
        margin: 0;
        margin-left: 0.75em;
        font-size: 0.875rem;
      }
    }
  }
}

.sidebar {
  &__item {
    font-size: 0.625rem;
    font-weight: 200;
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
    &:hover {
      background-color: var(--clr-hightlight-gray);
    }
  }

  &__title {
    margin-top: 0.7em;
  }
}

#home-icon,
#home-outline-icon,
#subscriptions-icon,
#subscriptions-outline-icon,
#library-icon,
#library-outline-icon,
#ryan-icon,
#ryan-outline-icon {
  font-size: 1.5rem;
}
