.player {
  max-width: 100%;
  position: relative;
  font-size: 0;
  // overflow: hidden;

  background: var(--clr-hightlight-gray);
  border-radius: 1px;

  &__video {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
  }

  &__volume {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
  margin-inline: 12px;
  margin-block: 6px;

  // Select play button + fullscreen button
  &:first-of-type {
    margin-left: 16px;
  }
  &:last-of-type {
    margin-right: 16px;
  }
}

.player__button:focus {
  border-color: #ffffff;
}

#playarrow-icon,
#pause-icon,
#replay-icon,
#volumeup-icon,
#volumeoff-icon,
#fullscreen-icon {
  font-size: 1.85rem;
}

.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  flex-wrap: wrap;
  background: linear-gradient(0deg, #00000091, transparent);
  align-items: center;

  &--hidden {
    opacity: 0;
  }
}

.player:hover .player__controls {
  opacity: 1;
}

.progress:hover {
  height: 10px;
  background: rgba(255, 255, 255, 0.884);
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 4px;
  margin-inline: 10px;
  transition: height 0.1s linear;
  background: rgba(255, 255, 255, 0.753);
  cursor: pointer;
}

.progress__filled {
  background: #01ffff;
  flex: 0;
  flex-basis: 0.5%;
}

.player__time {
  color: white;
  font-size: 14px;
  align-self: center;
  margin-right: auto;
  margin-left: 12px;
}

//
// VOLUME RANGE 🤬
//
.player__range {
  --thumbSize: 12px;
  --trackSize: 4px;
  --thumbBg: #fff;
  --trackBg: #e9e9e95e;
  --progressBg: #ffffff;

  /* webkit progress workaround */
  --webkitProgressPercent: 0%;
}

.player__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  width: 60px;
  margin: 0;
  padding: 0;
  background-color: var(--trackBg);
  transition: all 0.5s linear;

  &:focus {
    outline: none;
  }
}

// THUMB
.player__range {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--thumbSize);
    height: var(--thumbSize);
    background-color: var(--thumbBg);
    border-radius: calc(var(--thumbSize) / 2);
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
    cursor: grab;
  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: var(--thumbSize);
    height: var(--thumbSize);
    background-color: var(--thumbBg);
    border-radius: calc(var(--thumbSize) / 2);
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
    cursor: grab;
  }

  &::-ms-thumb {
    -ms-appearance: none;
    appearance: none;
    width: var(--thumbSize);
    height: var(--thumbSize);
    background-color: var(--thumbBg);
    border-radius: calc(var(--thumbSize) / 2);
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
    cursor: grab;
  }
}

// TRACK
.player__range {
  &::-webkit-slider-runnable-track {
    height: var(--trackSize);
    background-image: linear-gradient(
      90deg,
      var(--progressBg) var(--webkitProgressPercent),
      var(--trackBg) var(--webkitProgressPercent)
    );
    border-radius: calc(var(--trackSize) / 2);
    cursor: grab;
  }

  &::-moz-range-track {
    height: var(--trackSize);
    background-color: var(--trackBg);
    border-radius: calc(var(--trackSize) / 2);
  }

  &::-ms-track {
    height: var(--trackSize);
    background-color: var(--trackBg);
    border-radius: calc(var(--trackSize) / 2);
  }
}

// FF + IE PROGRESS
.player__range {
  &::-moz-progress {
    height: var(--trackSize);
    background-color: var(--progressBg);
    border-radius: calc(var(--trackSize) / 2) 0 0 calc(var(--trackSize) / 2);
  }
  &::-ms-fill-lower {
    height: var(--trackSize);
    background-color: var(--progressBg);
    border-radius: calc(var(--trackSize) / 2) 0 0 calc(var(--trackSize) / 2);
  }
}

// RANGE animation on mount/unmount
@keyframes inAnimation {
  0% {
    width: 0px;
    transform-origin: left;
  }
  100% {
    width: 60px;
  }
}

@keyframes outAnimation {
  0% {
    width: 60px;
  }
  100% {
    width: 0px;
  }
}
